.box-layout{
    align-items: center;
    background: url('/images/bg.jpg');
    background-size: cover;
    flex: 3.5;
    height: 100vh;
    
}

.box-layout__box{
    background: fade-out(white, .15);
    border-radius: 3px;
    padding:$l-size $m-size ;
    text-align: center;
    flex:1;
    height: 100vh;
    background: gainsboro;
}

.box-layout__title{
    margin: 0 0 $m-size 0;
    line-height: 1;
}

.box-layout-main{
    display: flex;
    
}