.box-layout{
    display: flex;
    align-items: center;
    background: url('/images/bg.jpg');
    background-size: cover;
    
    height: 100vh;
    flex-wrap: wrap;
}

.box-layout__box{
    background: fade-out(white, .15);
    border-radius: 3px;
    padding:$l-size $m-size ;
    text-align: center;
    height: 100vh;
    background: gainsboro;
}

.box-layout__title{
    margin: 0 0 $m-size 0;
    line-height: 1;
}



.box-layout-title{
    padding-left: 100px;
    padding-bottom: 50px;
    flex: 2;
}

.box-layout-login{
    flex: 1;
}

@media screen and (max-width: 680px){
    .box-layout-title{
        display: none;
    }

    .box-layout-mobile_title{
        margin: auto;
        
        
    }

    .box-layout-mobile_title h1{
        margin: auto;
        color:white;
       

        &:hover{
            color:gray;
        }
    }

    

    .box-layout-login{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
}
    


@media screen and (min-width: 680px) {
    .box-layout-mobile_title{
        display:none;
        
    }
}


