// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

// Variables


// Styles
.move-right{
	overflow: auto;
}
.Modal {
	background: $onyx;
	border-radius: 2px;
	padding: 20px;
	width: 300px;
	height: 400px;
	display: flex;
    align-items: center;
	justify-content: center;
	
}

// Inputs
.Input {
	display: flex;
	flex-direction: row-reverse;
	border-bottom: 1px solid rgba($cosmiclatte, .1);
	padding-bottom: 3px;
	margin-bottom: 5px;


	
	input {
		// General styles
		outline: none;
		border: 0;
		color: $cosmiclatte;
		background: transparent;
		font-family: $font;
		flex: 1 0 auto;
		font-size: 15px;
		font-weight: normal;

		
		
		// Animation triggers
		&:focus ~ label {
			opacity: 1;
		}
		
		// Icon abstractions
		&.text {
			~ label {
				&::before {
					content: "\f007";
						
				}
			}
		}
		&.email {
			~ label {
				&::before {
					content: "\f1fa";
					
				}
			}
		}
		&.password {
			~ label {
				&::before {
					content: "\f023";
					
				}
			}
		}
	}
	
	label {
		font-family: FontAwesome;
		
		font-size: 13px;
		opacity: .1;
		transition: opacity .5s ease;
		font-weight: 900;
		
		&::before {
			align-items: center;
			color: $cosmiclatte;
			display: flex;
			height: 30px;
			justify-content: center;
			width: 30px;
		}
	}
}



// Button
button.login {
	align-items: center;
	background: $cinnabar;
	border: 0;
	border-radius: 15px;
	color: white;
	display: inline-block;
	margin-right: 10px;
	font-family: $font;
	font-size: 13px;
	font-weight: 500;
	justify-content: center;
	margin-top: 20px;
	outline: none;
	padding: 10px 9px 10px 11px;
	text-transform: uppercase;
	width: 100%;
	
	.fa {
		font-size: 12px;
		margin-left: auto;
		position: relative;
		top: 1px;
		
	}
	
	&:hover {
		transform: scale(1.02);
	}
	
	&:active {
		transform: scale(.99);
	}
}

button.register{
	@extend button.login;
	margin-top: -25px;
}
// Animation Classes
.example-enter {
	margin-top: 30px;
	opacity: .01;
	
	&.example-enter-active {
		margin-top: 0px;
		opacity: 1;
		transition: opacity .5s ease, margin .5s ease;
	}
}

.example-leave {
	margin-top: 0px;	
	opacity: 1;
	
	&.example-leave-active {
		margin-top: -30px;
		opacity: .01;
		transition: opacity .3s ease, margin .5s ease;
	}
}

/* Shared */
.loginBtn {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	padding: 0 15px 0 46px;
	border: none;
	text-align: center;
	line-height: 34px;
	white-space: nowrap;
	border-radius: 15px;
	font-family: $font;
	font-size: 13px;
	font-weight: 500;
	color: #FFF;
  }
  .loginBtn:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 34px;
	height: 100%;
  }
  .loginBtn:focus {
	outline: none;
  }
  .loginBtn:active {
	box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }

  /* Google */
  .loginBtn--google {
	/*font-family: "Roboto", Roboto, arial, sans-serif;*/
	background: #DD4B39;
  }
  .loginBtn--google:before {
	border-right: #BB3F30 1px solid;
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
	background: #E74B37;
  }
  .button-container{
	text-align: center;
  }

span.login-option-label{
	color: grey;
	font-family: $font;
	width:100%;
    text-align:center;
}

span.login-option-label:after{
	content:"  ------------";
	padding-right:12px;
	letter-spacing:-2px;
	color:grey;
}
span.login-option-label:before{
	content:"------------  ";
	padding-left:25px;
	letter-spacing:-2px;
	color:grey;
}

p.login-text{
	text-align: center;
	color: white;
	font-size: 10px;
	font-family: $font;

}

p.register-text{
	text-align: center;
	color: white;
	font-size: 15px;
	padding-bottom: 25px;
	font-family: $font;

}

.hyperlink{
	font-family: $font;
	
	color:gray;
}