
.register-container{
    align-items: center;
   
    background-color: #464646;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
   
}

.Sign-up-header{
    color:white;
    text-decoration: none;
}

.Sign-up-header:hover{
    color:grey;
    text-decoration: none;
}

.Sign-up-header Link{
    text-decoration: none;
}

