
.register-container{
    align-items: center;
   
    background-color: #464646;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
   
}

.Sign-up-header{
    color:white;
    text-decoration: none;
}

.Sign-up-header:hover{
    color:grey;
    text-decoration: none;
}

.Sign-up-header Link{
    text-decoration: none;
}

.form-group-register label{
    display: block;
}

input.register-form{
    padding: $m-size;
    font-size: $font-size-large;
    font-weight: 300;
    color: #333;
    width: 400px;
    box-sizing: border-box;
    letter-spacing: 1px;
    height: 50px;
    border: 1px solid #cacccd;
    
    border-radius: 10px;

}

@media screen and (max-width: 680px) {
   input.register-form{
       width:300px;
       font-size: 15px;
       font-weight: 200;
   }

   button.register{
       width:25%;
       left: 50px;
       position: relative;
   }
}

.form-group-register{
    position: relative;
    margin: 0 auto;
}

